* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    position: relative;
    background: #F3F5FC;
}


.principal {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.principal,
.div-entrada,
.div-saida,
.div-botao,
.div-aparece,
.div-desaparece {
    display: flex;
    justify-content: space-between;
}

.div-entrada,
.div-saida,
.div-aparece,
.div-desaparece {
    flex-direction: column;
}

.div-entrada {
    width: 60%;
    padding-left: 7rem;
    padding-bottom: 1rem;
}

.div-saida {
    background-color: #FFFFFF;
    width: 30%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 1rem;
}

.logo {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 3%;
    right: 10%;
}

#textoEntrada {
    height: 15rem;
}

.imput-texto {
    width: 100%;
    font-size: large;
    text-transform: lowercase;
    resize: none;
    color: #0A3871;
    background: transparent;
    border: none;
}

::placeholder {
    color: #0A3871;
}

.imput-texto:focus {
    border: none;
    outline: none;
}

.alerta {
    display: flex;
    position: relative;
    top: 11%;
    gap: 8px;
}

label {
    color: #495057;
    opacity: 0.8;
}

.div-botao {
    position: relative;
    justify-content: left;
    gap: 2rem;
}

.botao {
    width: 16rem;
    height: 3rem;
    font-size: larger;
    font-weight: bold;
    color: #0A3871;
    border-radius: 1.2rem;
    border: 0.1rem solid #0A3871;
}

.botao:hover {
    color: white;
    background: #0A3871;
}

.div-aparece,
.div-desaparece {
    text-align: center;
    align-items: center;
    height: 100%;
}

.div-aparece {
    justify-content: space-between;
}

.div-desaparece {
    gap: 1rem;
    justify-content: center;
}

#textoSaida {
    height: 80%;
}

h2 {
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #495057;
}

.desenho {
    width: 100%;
    height: 60%;
}